body{
    background-image: url("../images/dark.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size:cover;
    color: ghostwhite;
}

h1{
    color: white;
}

div.card{
    width: fit-content;
    height: fit-content;
    padding: 15px;
    border-radius: 30px;
    background-color: dimgrey;
}
div.logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: url("../images/dark-logo.jpg");
    background-size: 100%;
}