<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/card.css">
</head>
<body>

<div class="flex-container">
    <div class="logo">
    </div>
    <div class="card">

        <div class="item" id="head">
            <h1>POLKOVNIK</h1>
            <h2>Тот, кому напишут)</h2>
        </div>
        <div class="item" id="form">
            <form action="" method="post">
                <div class="form-group">
                    <input class="form-control" id="email" type="email" name="username" placeholder="E-Mail">
                </div>
                <div class="form-group">
                    <input class="form-control" id="password" type="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input class="form-control submit" name="Submit" type="submit">
                </div>
            </form>
        </div>
        <div class="item" id="registration">
            <p>Нет аккаунта? Создай его! Жми -> <a href="/">сюда</a></p>
        </div>
        <div class="switch">
            <input type="checkbox" id="switch-1" class="switch-check">
            <label for="switch-1" class="switch-label">

            </label>
        </div>

        <script src="../static/js/theme.js"></script>
    </div>
</div>
</body>
</html>